<mat-toolbar>
  <mat-toolbar-row style="display: flex; justify-content: space-between">
    <div>
      <mat-label style="font-size: medium; margin-right: 1rem">Search by name:</mat-label>
      <input
        type="text"
        placeholder="Start typing..."
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
      />
    </div>
    <button matButton="filled" (click)="onToggleView()">
      Switch to {{ viewMode === 'list' ? 'Grid' : 'List' }} View
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="list-wrapper">
  <ng-container *ngIf="filteredCountries$ | async as countries">
    <div
      class="country-container"
      [ngClass]="viewMode"
    >
      <div
        class="country-card"
        *ngFor="let country of countries; trackBy: countryName"
        (click)="onCountrySelected(country)"
      >
        {{ country.iso3 }} - {{ country.country }}
      </div>
    </div>
  </ng-container>
</div>

