<mat-toolbar>
  <button matButton="elevated" (click)="onReturnButtonClicked()">
    Return to the list
  </button>

  <span style="font-size: medium">
    <span style="margin-right: 1rem">Units of measure</span>
    <mat-button-toggle-group [value]="uomValue"
                             (change)="changeUnitsOfMeasure($event.value)"
                             aria-label="Font Style">
    <mat-button-toggle value="metric">Metric</mat-button-toggle>
    <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
  </mat-button-toggle-group></span>

</mat-toolbar>

<div class="weather-card-wrapper">
  <mat-card *ngIf="weatherData; else noWeatherData">
    <mat-card-header>
      <mat-card-title>{{ weatherData.name }}</mat-card-title>
      <mat-card-subtitle>{{ weatherData.weather[0].main }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="widget-wrapper">
        <app-temperature-card *ngIf="weatherData.main"
                              [unitOfMeasure]="uomValue"
                              [temp]=weatherData.main.temp
                              [temp_max]=weatherData.main.temp_max
                              [temp_min]=weatherData.main.temp_min
                              [feels_like]=weatherData.main.feels_like
        ></app-temperature-card>
        <app-pressure-card [pressureValue]="weatherData.main.pressure">
        </app-pressure-card>
        <app-humidity-card [humidityValue]="weatherData.main.humidity">
        </app-humidity-card>
        <app-wind-card
          [speed]="weatherData.wind.speed"
          [direction]="weatherData.wind.deg"
          [gust]="weatherData.wind.gust"
          [unitOfMeasure]="uomValue"
        ></app-wind-card>
      </div>
      <div>
        <app-map-card [coord]="{lat: weatherData.coord.lat, lng: weatherData.coord.lon}"></app-map-card>
      </div>

    </mat-card-content>
  </mat-card>
</div>


<ng-template #noWeatherData>
  <div style="padding: 50px">
    Sorry, there is no weather data for this country. Please
    <a class="returnLink" (click)="onReturnButtonClicked()">return to countries list</a>
  </div>

</ng-template>

